[bumpversion]
current_version = 0.2.0

[bumpversion:file:setup.py]

[bumpversion:file:tomate_gtk/dialogs/about.py]

[bumpversion:file:obs/debian.changelog]

[bumpversion:file:obs/tomate-gtk.dsc]
parse = 
	"Version = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)"

[bumpversion:file:obs/tomate-gtk.spec]
parse = 
	"Version = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)"

