# files
*.bat
*.egg
*.egg-info
*.log
*.mo
*.o
*.obj
*.py[cod]
*.pyc
*.ropeproject
*.so
*.so
*.sqlite3
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.python-version
.tags*
.tox
*.toc
*.compiled

# dirs
bin
build
develop-eggs
dist
docs/*
eggs
lib
lib64
nosetests.xml
output/*.html
output/*/index.html
parts
pip-log.txt
po
sdist
.idea/
whoosh_index/
*.vagrant
*.deb
*.bzr
*.sublime-*
